@media (max-width: 1000px) {
    #eos {
        margin-right: 100px;
        justify-content: center;
        display: flex;
        padding: 10px;
    }

    .Clock-days {
        padding-left: 15px;
    
    }

}

@media screen and (min-width: 1000px) {
    
    #eos {
        align-items: center;
        justify-content: center;
        margin: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
    }
}