

/*Mobile Device*/
@media only screen and (max-width: 1000px) {
    .resultBox{
        width: 100%;
        height: 50vh;
        overflow-y: auto;
    }


    #filterContainer {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    #filter {
        width: 100%;
    }
}

/*Desktop Device*/
@media only screen and (min-width: 1000px) {
    .resultBox {
        width: 50%;
        float: left;
        height: 90vh;
        overflow-y: auto;
    }

    #filter {
        width: 50%;
        float: left;
    }


}
        
    




/*Mobile Device*/
@media (max-width: 600px) {

}

/*Smaller */